body {
    font-family: Fira Sans, Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

select, button {
    font-family: Fira Sans, Arial, sans-serif;
  }

#main-container {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

#left-panel {
    flex: 0 0 250px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#right-panel {
    flex: 1;
    min-width: 0;
}

#drop-zone {
    border: 2px dashed #ccc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    background-color: #ffffff;
}

#drop-zone.dragover {
    border-color: #000;
    background-color: #e0e0e0;
}

#controls-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#controls-container select,
#controls-container button {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

#controls-container label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}

#controls-container button {
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

#controls-container button:hover {
    background-color: #45a049;
}

#chart-container {
    width: 100%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#pen-table {
    width: 100%;
    margin: 10px auto;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}

#pen-table th, #pen-table td {
    padding-left: 5px;
    padding-right: 5px; 
    padding-top: 2px;
    padding-bottom: 2px;
    border: 1px solid #ddd;
    text-align: left;
}

#pen-table th {
    background-color: #f2f2f2;
}

.color-box {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.delete-button {
    background-color: #ff4444;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

.delete-button:hover {
    background-color: #cc0000;
}

.tag-input {
    padding: 2px;
    font-size: 14px;
    width: 100px;
}
